<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzwyISsx4w5J4mT_Cw1FMui65jcMe63s0</string>
	<key>GCM_SENDER_ID</key>
	<string>891859102098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ratek</string>
	<key>PROJECT_ID</key>
	<string>agripoa-b54d1</string>
	<key>STORAGE_BUCKET</key>
	<string>agripoa-b54d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891859102098:ios:7f214ec82ecebee17d394b</string>
</dict>
</plist>